{% extends 'admin/base.html.twig' %}

{% block admin_title %}Edit Categorie{% endblock %}

{% block admin_body %}
    <h1>Edit Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}">back to list</a>

    {{ include('bibliothecaire/categorie/_delete_form.html.twig') }}
{% endblock %}
