<form method="post" action="{{ path('app_livre_delete', {'id': livre.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce livre ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
