<form method="post" action="{{ path('app_langue_delete', {'id': langue.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette langue ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ langue.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
